*{
    margin: 0;
    padding: 0;
}
.example-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.example-form input {
    margin: 1px 0;
    min-width: 2px;
}
.wrapper-container{
    background-color: #f0f798;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #5df5e8e8;    
    background-image: url(./JavaScript---Thumbnail-1200-x-630.jpg);
    border: 1px solid #333;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    display: none;
    padding: 100px 100px 100px 100px;
}
button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(95.54deg, #028181 20%, #cee3138f 100%);    
    color: #f0f798;
    margin-top: 10px;
    padding: 20px 40px;
    transition: 0.3s;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 1px;
}

.form-group > label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #f0f798;
    width: 200px;
    padding: 10px;
   
}
.form-group > input{
   
    border: 3px solid #067a70;    
    border-radius: 1rem;
    font-size: 1.1rem; 
    background-color: #f1f79821;
    color: #f0f798
    padding: 10px;
}
.input > text-area{
    width: 50%;
}

.form-group, h4{
    font-size: 1.8rem;
    color: rgba(248, 64, 8, 0.774);
    font-weight: bold;
}

.step-title{    
    color: #023822;
    margin: 10px 0;
    text-align: center;
    font-size: 3rem;
}

.active{
    display: block;
}


  #terms2{
    width: 100%;
    padding: 5px 5px;   
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #92dac000;
    color: rgb(224, 248, 119);
  }
 
#response{    
    background-image: url(./JavaScript---Thumbnail-1200-x-630.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 7rem;
    color: rgb(4, 133, 53);
    margin: 0;
    padding: 20%;
}
